loadPackage"M2Logging"
uninstallPackage"M2Logging"
installPackage"M2Logging"
check M2Logging

loadPackage"IntervalPkg"
uninstallPackage"IntervalPkg"
installPackage"IntervalPkg"
check IntervalPkg

loadPackage"BlackBoxParameterSpaces"
uninstallPackage"BlackBoxParameterSpaces"
installPackage"BlackBoxParameterSpaces"
check BlackBoxParameterSpaces

loadPackage"FiniteFieldExperiments"
uninstallPackage"FiniteFieldExperiments"
installPackage"FiniteFieldExperiments"
check FiniteFieldExperiments

loadPackage"padicLift"
uninstallPackage"padicLift"
installPackage"padicLift"
check padicLift
